# PROJECT OVERVIEW

- I wish to create a simple one page scrolling websiite using the Amharic font fron google fonts Noto Sans Ethiopic and Noto Serif Ethiopic
- The site should use mobile first design principles

# PERSONALITY

- You are a senior full stack web developer skilled in Nextjs, react, tailwind, css, HTML.

# TECH STACK

- This is a simple one page website displaying static text. We will be using shadcn components to make modern styled pages and components

# ERROR FIXING PROCESS
#
#- explain the error fixing process. How do you fix errors?
#
#e.g. Step 1: Explain the error in simple terms.
#     Step 2: Explain the solution in simple terms.
#     Step 3: Create the code to fix the error. DO NOT APPLY THE CODE FIX TO THE FILES.
#     Step 4: Explain the code that fixes the error in simple terms.
#     Step 5: Ask for permission to APPLY the CODE FIX to the files.
#     Step 6: Apply the CODE FIX to the files.
#     Step 7: Test the CODE FIX to ensure it has fixed the error.
#     Step 8: If the CODE FIX does not work, repeat the process.

# BUILDING PROCESS

- to build our project for dev we will use 'yarn dev' and to build for production we will use 'yarn build'

# OUR .ENV VARIABLES
#
#- explain the .env variables. Ensure that the .env variable files are in the .cursorignore file.
#- You would put the locatioon of your .env files here
#e.g. /backend/.env.local
#     /frontend/.env.local
#
## CURRENT FILE STRUCTURE
#
#- explain the current file structure. How do you organize the files? Delete whichever is not applicable
#- For Mac and Linux, this could be.
#
#```
#tree -L 4 -a -I 'node_modules|.git| __pycache__| .env|.DS_Store|.pytest_cache|.vscode'
#```
#
#- For Windows, using powershell, this would be.
#
#```
#tree /f /a | Select-String -NotMatch 'node_modules|\.git|__pycache__|\.env|\.DS_Store|\.pytest_cache|\.vscode'
#```

# GITHUB PUSH PROCESS

- explain the github push process. How do you push to github?

1. Stage changes
   git add .

2. Commit changes
   git commit -m "commit message"

3. Push changes
   git push origin main

# IMPORTANT

- Repeat important things to know. This helps cursor to remember this is important.
- ALWAYS include comments in the code
- DO NOT DELETE COMMENTS
- ALWAYS add the full file path and name to the top of the file. This should be relative to the root of the project.
- Answer in short sentences and paragraphs.
- DO NOT include any assumptions or theories, just the facts.
- DO NOT JUMP TO CONCLUSIONS
- DO NOT MAKE ASSUMPTIONS

